In [1]:
x=20

In [2]:
if x>10 :
  print("x>10")

x>10

In [3]:
x=20

In [4]:
if x>10 :
  print("x is greater than 10")
if x<10 : 
  print ("x is less than 10 ") 
if x==10 :
  print("x is equal to 10 ")

x is greater than 10

In [5]:
x=int(input(" enter your marks "))
if x<100 :
  print("failed")
if x==100 :
  print("just pass")   
if x>100 :
  print("passed")

 enter your marks 152
passed

In [6]:
inc.ome= int(input("enter your taxable income in india"))
if income<=250000 :
  print("tax not needed")
if income>=250000 :
  print(income*10/100)

enter your taxable income in india356000
35600.0